<footer class="footer">
    <div class = "container">
        
        <div id = "footer-images">
            <p>Clock+ - s3784828@student.rmit.edu.au </p>

            <%= link_to image_tag(url_for("twitter.png"), :size => "50x50"),  "https://twitter.com/explore" %>
  
            <%= link_to image_tag(url_for("linkedin.png"), :size => "50x50"),  "https://au.linkedin.com/" %>

            <%= link_to image_tag(url_for("facebook.png"), :size => "50x50"),  "https://www.facebook.com/" %>

        </div>
    </div>
</footer>