// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#side-content-left
{
    float: left;
    padding-top: 200px;
    padding-right: 50px;
}

#side-content-right
{
    float: right;
    padding-top: 200px;
    padding-right: 50px;
}

#main-content
{
    float: middle;
}

#new-city
{
    padding-top: 200px;
}