@import "bootstrap-sprockets";
@import "bootstrap";



/* header */

#logo 
{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    //padding-top: 9px;
    font-weight: bold;
}
  
#logo:hover 
{
    color: #fff;
    text-decoration: none;
}

body
{
    padding-top: 80px;
    padding: 50px;
}


.footer{
    position:fixed;
    bottom: 0;
    background-color: #222;
    width: 100%;
    color: white;
    padding: 10px;
}

#footer_images{
    float: right;
    max-width: 10px;
    max-height: 10px;
}