<ul>
    <ul> <p> <%= image_tag("green.png") %> Buisness Time </p> </ul>
    <ul> <p> <%= image_tag("orange.png") %> Buisness Overtime </p> </ul>
    <ul> <p> <%= image_tag("red.png") %> Personal Time </p> </ul>
    <ul> <p> <%= image_tag("sleepy.png") %> Sleep Time </p> </ul>
</ul>